# API Configuration
PORT=3000

# Alpha Vantage API
EXTERNAL_API_BASE_URL=https://www.alphavantage.co
EXTERNAL_API_PATH=/query?function=CURRENCY_EXCHANGE_RATE&from_currency=USD&to_currency=COP
ALPHA_VANTAGE_API_KEY=your_api_key_here
