# API Configuration
PORT=3000

# Alpha Vantage API
EXTERNAL_API_BASE_URL=https://www.alphavantage.co
EXTERNAL_API_PATH=/query?function=CURRENCY_EXCHANGE_RATE&from_currency=USD&to_currency=COP
ALPHA_VANTAGE_API_KEY=your_api_key_here

# Database (PostgreSQL)
# Optional full connection string for cloud deployments
# DATABASE_URL=postgres://user:password@host:5432/dbname

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=external_data_db
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false

# Authentication (JWT)
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1h
